.table-container {
    width: 1100px;
    margin: 40px auto;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ED7921;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FCF3E7;
    color: #737272;
}

tbody tr:last-child td {
    border-bottom: 0;
}

th, td {
    padding: 12px;
    text-align: center;
    border-right: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f;
}

th {
    font-size: 18px;
    font-weight: normal;
}

#edit-icon, #delete-icon {
    width: 15px;
    height: auto;
    cursor: pointer;
}

#edit-icon {
    margin-right: 20px;
}

thead {
    color: #ED7921;
    font-weight: bold;
}